numpy
opencv-python==4.5.5.64
pandas
scikit-image==0.19.3
scikit-learn
torch==1.8.1                    # Linknet and PSPNet are not working with torch >= 1.8.1
torchvision==0.9.1
efficientnet-pytorch==0.7.1
timm==0.3.2                     # Linknet and PSPNet are not tested with timm >= 0.3.2
pretrainedmodels==0.7.4
ptflops==0.6.5
tqdm
dvc[s3]==2.13.0
Pillow
black==22.6.0
openpyxl==3.0.10
